<div class="card-columns">
  {{#card/image-headline title="How this works" h=300}}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="http://loripsum.net/" target="_blank">Mihi enim satis est, ipsis non satis.</a> Equidem, sed audistine modo de Carneade? Non igitur bene. Duo Reges: constructio interrete. Quid enim possumus hoc agere divinius? Quod ea non occurrentia fingunt, vincunt Aristonem; </p>
  {{/card/image-headline}}

  {{#card/text-headline title="How this works"}}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="http://loripsum.net/" target="_blank">Mihi enim satis est, ipsis non satis.</a> Equidem, sed audistine modo de Carneade? Non igitur bene. Duo Reges: constructio interrete. Quid enim possumus hoc agere divinius? Quod ea non occurrentia fingunt, vincunt Aristonem; </p>
  {{/card/text-headline}}

  {{#card/image-headline title="How this works" h=200}}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Satis est ad hoc responsum. Hoc non est positum in nostra actione. Haec quo modo conveniant, non sane intellego. <i>Uterque enim summo bono fruitur, id est voluptate.</i> Iam id ipsum absurdum, maximum malum neglegi. </p>
  {{/card/image-headline}}

  {{#card/image-headline title="How this works" h=350}}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Causa autem fuit huc veniendi ut quosdam hinc libros promerem. Ex quo, id quod omnes expetunt, beate vivendi ratio inveniri et comparari potest. Quae sequuntur igitur? <i>Sed eum qui audiebant, quoad poterant, defendebant sententiam suam.</i> Beatus autem esse in maximarum rerum timore nemo potest. Quamquam haec quidem praeposita recte et reiecta dicere licebit. <b>Duo Reges: constructio interrete.</b> <a href="http://loripsum.net/" target="_blank">Istic sum, inquit.</a> Huius ego nunc auctoritatem sequens idem faciam. Invidiosum nomen est, infame, suspectum. </p>
  {{/card/image-headline}}

  {{#card/image-headline title="How this works" h=250}}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ea possunt paria non esse. Bonum valitudo: miser morbus. Duo Reges: constructio interrete. <b>An nisi populari fama?</b> Aliter enim explicari, quod quaeritur, non potest. Iam in altera philosophiae parte. </p>
  {{/card/image-headline}}
</div>